.board
{
    width: 100vw;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
    overflow: hidden;
}

.grid__cell-bomb
{
    width: 50px;
    height: 50px;

    background-color: red;
}

.grid__cell-number
{
    width: 50px;
    height: 50px;
    background-color: yellow;

}

.grid__cell-number0
{
    width: 50px;
    height: 50px;
    background-color: dodgerblue;
}

.grid__cell-undiscovered
{
    width: 50px;
    height: 50px;

    background-color: beige;
}

