@page "/Game/{Id:int}"
@inherits GameBase
@rendermode InteractiveWebAssembly

<style>

    .grid
    {
        width: auto;
        height: auto;

        display: grid;
        grid-template-columns: repeat(@Grid.GetLength(1), 1fr);
        grid-template-rows: repeat(@Grid.GetLength(0), 1fr);
        
        gap: 6px;
    }
    
</style>

<PageTitle>Game</PageTitle>


@if (IsGameOver)
{
    <h1>GameOver</h1>
    <button class="button-restart" @onclick="() => CreateGame()">Restart</button>
}

@if (IsWin)
{
    <h1>Win</h1>
    <button class="button-restart" @onclick="() => CreateGame()">Restart</button>
}

<p>@FormatTime()</p>

<div class="board">

    <div class="grid">

        @for (var row = 0; row < Grid.GetLength(0); row++)
        {
            for (var column = 0; column < Grid.GetLength(1); column++)
            {
                var cell = Grid[row, column];

                if (cell.IsDiscovered)
                {
                    if (cell.IsBomb)
                    {
                        <div class="grid__cell grid__cell-bomb">
                            <p>💣</p>
                        </div>
                    }
                    else
                    {
                        if (cell.Number != 0) // != veur dire que c'est diférent de 0
                        {
                            <div class="grid__cell grid__cell-number">
                                <p>@cell.Number</p>
                            </div>
                        }
                        else
                        {
                            <div class="grid__cell-number0"></div>
                        }
                    }
                }
                else
                {
                    var _buttonText = "";

                    if (cell.IsFlag)
                    {
                        _buttonText = "🚩";
                    }

                    <button @onclick="() => OnButtonClick(cell)"
                            @oncontextmenu="() => SetFlag(cell)"
                            @oncontextmenu:preventDefault="true"
                            class="grid__cell-undiscovered">
                        @_buttonText
                    </button>
                }
            }
        }

    </div>

</div>