@page "/Game/{Id:int}"
@inherits GameBase
@rendermode InteractiveWebAssembly

<style>

    .grid
    {
        width: auto;
        height: auto;

        display: grid;
        grid-template-columns: repeat(@Grid.GetLength(1), 1fr);
        grid-template-rows: repeat(@Grid.GetLength(0), 1fr);
        
        gap: 6px;
    }
    
</style>

<PageTitle>Game</PageTitle>

@if (IsGameOver)
{
    <h1>GameOver</h1>
}

@if (IsWin)
{
    <h1>Win</h1>
}

<div class="board">

    <div class="grid">

        @for (var row = 0; row < Grid.GetLength(0); row++)
        {
            for (var column = 0; column < Grid.GetLength(1); column++)
            {
                var cell = Grid[row, column];

                if (cell.IsDiscovered)
                {
                    if (cell.IsBomb)
                    {
                        <div class="grid__cell-bomb"></div>
                    }
                    else
                    {
                        if (cell.Number != 0) // != veur dire que c'est diférent de 0
                        {
                            <div class="grid__cell-number">@cell.Number</div>
                        }
                        else
                        {
                            <div class="grid__cell-number0"></div>
                        }
                    }
                }
                else
                {
                    <button @onclick="() => OnButtonClick(cell)" class="grid__cell-undiscovered"></button>
                }
            }
        }

    </div>

</div>